* {
    margin: 0;
    padding: 0;
    border: 0;
}
.elemento {
    background-color: rgb(11, 11, 63);
    width: 100vw;
    height: 20vh;
    margin: 0 auto;
}

.elemento > h1 {
    color: salmon;
    padding-top: 5vh;
    text-transform: uppercase;
    margin-left: 50vw;
}